/* Commot styles */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--brand-color);
    background-color: var(--primary-whitef-color); 
}
:root {
    --brand-color: #434455;
    --primary-blue-color: #4d5ae5;
    --primary-navyblue-color: #2E2F42;
    --primary-white-color: #F4F4FD;
    --primary-whitef-color: #ffffff;
    --primary-ocean-color: #404BBF;
    --primary-whiteborder-color: #e7e9fc;
    --primary-light-slate-color: #8E8F99;
    --primary-green-color:#31D0AA;
    --primary-modal-window-color:#FCFCFC;
    
}
/* Reset */
h1,h2,h3,h4,h5,h6, p{
    margin: 0 auto;
}
ul,ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;  
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
/* Base styles for small devices */
.container {
    min-width: 320px;
    max-width: 428px;
    margin: 0 auto;
    padding: 0 16px;

    outline: 2px solid red;
}
/* Tablet screen */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    
  }
}
/* Desctop screen */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
    
  }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Header styles */
.header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid var(--primary-whiteborder-color);
    min-width: 320px;
}

@media only screen and (min-width: 768px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    
  }
}
.header-nav {
    display: flex;
    text-align: center;
    align-items: center;
   
}

.logo {
    text-align: center;
    padding:25px 0;
    font-family: 'Raleway',sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-ocean-color);
}
@media only screen and (max-width: 767.98px) {
    .logo {
      padding-top: 25px;
      padding-bottom: 23px;
      margin-right: auto;
      
    }
  }
@media only screen and (min-width: 768px) {
    .logo {
      margin-right: 120px;
    }
  }
@media only screen and (min-width: 1158px) {
  .logo {
    margin-right: 120px;
  }
}


.dark-studio {
    color: var(--primary-navyblue-color);
}

/* Base style */
.nav-link {
    display: flex;
    align-items: center;
    gap: 40px;
}
@media only screen and (max-width: 767.98px) {
  .nav-link {
    display: none;
  }
}
.nav-list {
    position: relative;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--primary-navyblue-color);
padding:24px 0;
display: block;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list.active {
    color: var(--primary-ocean-color)
}
.nav-list.active::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--primary-ocean-color);
    border-radius: 2px;
}
.nav-list:hover,
.nav-list:focus {
    color: var(--primary-ocean-color);
}
.address {
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 767.98px) {
  .address {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
    .address {
        

   }
 }

.adress-link {
    
}
@media only screen and (min-width: 1158px) {
  .adress-link {
    display: flex;
    text-align: center;
    gap: 40px;
  }
}
.address-item {
    
}
@media only screen and (min-width: 1158px) {
  .address-item {
    align-items: center;
    padding: 24px 0;
  }
}
@media only screen and (max-width: 1157px) {
  .address-item:not(:last-child) {
    margin-bottom: 12px;
  }

}
.address-mail {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--brand-color);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-mail:hover,
.address-mail:focus {
    color: var(--primary-ocean-color);
}
/* Hero styles */
.hero-container {

}

.hero {
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--primary-navyblue-color);
    padding-top: 188px;
    padding-bottom: 188px;
}
@media only screen and (max-width: 1157.98px) {
  .hero {
    display: none;
  }
}
.hero-title {
    
    max-width: 496px;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: var(--primary-whitef-color); 
margin-bottom: 48px; 
}
.hero-btn {
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-whitef-color);
background: var(--primary-blue-color);
min-width: 169px;
height: 56px;
border-radius: 4px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
display: block;
margin: 0 auto;
border: none; 

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover {
    background: var(--primary-ocean-color);
}
.hero-btn:focus{
    background: var(--primary-ocean-color);
}
/* Benefits styles */
/* Base style */
.benefits-section {
    padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .benefits-section {
    padding: 120px 0; 
  }
}
.div-benefits {
}
/* Base style */
.benefits-list {
    
}
@media only screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
}
@media only screen and (min-width: 1158px) {
  .benefits-list {
    display: flex;
    gap: 24px;
  }
}
/* Base style */
.benefits-item {
    /* width: calc((100% - 48px) / 3); */
}
@media only screen and (max-width: 767.98px) {
  .benefits-item:not(:last-child) {
      margin-bottom: 72px;
  } 
}
@media only screen and (min-width: 768px) {
  .benefits-item {
    width: calc((100% - 24px) / 2);
    
  }
}
@media only screen and (min-width: 1158px) {
  .benefits-item {
    width: calc((100% - 72px) / 4);
  }
}
/* Base style */
.div-benefits-icon {
    display: none;
}
@media only screen and (min-width: 1158px) {
  .div-benefits-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 264px;
    height: 112px;
    border-radius: 4px;
background: var(--primary-white-color);
margin-bottom: 8px;  
  }
}
.benefits-icon{


}
/* Base style */
.benefits-item-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.72px;

    color: var(--primary-navyblue-color);

    margin-bottom: 8px;

}
@media only screen and (max-width: 767.98px) {
    .benefits-item-title {
        text-align: center;
    
  }
}
@media only screen and (min-width: 1158px) {
  .benefits-item-title {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--primary-navyblue-color);
margin-bottom: 8px;
    
  }
}
/* Base style */
.benefits-item-title-content {
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.32px;
color: var(--brand-color);
}
@media only screen and (min-width: 1158px) {
  .benefits-item-title-content {
    font-weight: 400;
    letter-spacing: 0.02em;
    
  }
}

/* Doing section */
.doing-section {
    padding-bottom: 120px;
}
.doing-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--primary-navyblue-color);
margin-bottom: 72px;
}
.doing-list {
    display: flex;
    gap: 24px;
}
.doing-item {
    width: calc((100% - 48px) / 3);
    
}
.doing-img {
   
}
/* Team section */
.team-section {
    padding: 96px 0;
    background-color: var(--primary-white-color);
}
@media only screen and (min-width: 1158px) {
  .team-section {
    padding: 120px 0;
  }
}
.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--primary-navyblue-color);
margin-bottom: 72px;
}
.team-list {
}
@media only screen and (max-width: 767.98px) {
  .team-list {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) {
  .team-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }
}
@media only screen and (min-width: 1158px) {
  .team-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
}

.team-item {
    background-color: var(--primary-whitef-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    max-width: 264px;
}
@media only screen and (max-width: 767.98px) {
    .team-item {
        margin: 0 auto;
  }
  .team-item:not(:last-child) {
    margin-bottom: 72px;
}
}
@media only screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .team-item {
    width: calc((100% - 3 * 24px) / 4);
  }
}

.team-img {
    
}
@media only screen and (max-width: 767.98px) {
  .team-img {
    margin: 0 auto;
  }
}
.div-team-members {
    padding: 32px 0;
}
.team-item-title {
    text-align: center;
    margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--primary-navyblue-color);
}
.team-item-content {
    text-align: center;
    margin-bottom: 8px;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--brand-color);
}

.team-list-icon {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.team-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 100%;
    height: 100%;
    background-color: var(--primary-blue-color);
    border-radius: 50%;
}
.team-item-icon {
    width: 40px;
    height:40px;

}
.team-icon-link:hover,
.team-icon-link:focus {
    background-color: var(--primary-ocean-color);
}
.team-icon {
    fill: var(--primary-white-color);
}

/* Clients */
.clients-section {
    padding-top: 96x;
    padding-bottom: 96px;
}
@media only screen and (min-width: 1158px) {
  .clients-section {
    padding: 120px 0;
  }
}
.clients-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--primary-navyblue-color);

margin-bottom: 72px;

}
.clients-list {
    
   
}
@media only screen and (max-width: 767.98px) {
    .clients-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .clients-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
}
.clients-item {
}
@media only screen and (max-width: 767.98px) {
  .clients-item {
    width: calc((100% - 16px) /2);
  }
}
@media only screen and (min-width: 768px) and (max-width:1157.98px) {
  .clients-item {
    
  }
}
@media only screen and (min-width: 1158px) {
  .clients-item {
    
  }
}

.cliets-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-light-slate-color);

    max-width: 190px;
    height: 88px;
    border: 1px solid var(--primary-light-slate-color);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

@media only screen and (min-width: 768px) {
  .cliets-link {
    min-width: 168px;
    
  }
}
@media only screen and (min-width: 1158px) {
  .cliets-link {
    
  }
}
.clients-icon {
    fill: currentColor;
}
.cliets-link:hover,
.cliets-link:focus {
    border-color:var(--primary-ocean-color);
    color: var(--primary-ocean-color);
}
/* Footer styles */
.footer {
  padding-top: 98px;
  padding-bottom: 96px;
    background-color: var(--primary-navyblue-color);
}
@media only screen and (min-width: 1158px) {
  .footer {
    padding-top: 101px;
    padding-bottom: 100px;
  }
}
.footer-container {
  align-items: baseline;
    /* flex-wrap: wrap; */
    /* align-items: baseline; */
   
}
@media only screen and (max-width: 767.98px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .footer-container {
    padding: 0 108px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
  }
}
.div-footer {
    margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .div-footer {
    margin-right: 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .div-footer {
    margin: 0 120px 0 0;
  }
}
.footer-logo {
  
  margin-bottom: 17px;
  padding-top: 0;
    padding-bottom: 0;
}
@media only screen and (min-width: 1158px) {
  .footer-logo {
    display: inline-block;
    margin: 0 0 16px 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 115px; 
  }
}
.logo-style{
  text-align: center;
    font-family: 'Raleway',sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-ocean-color);
}
@media only screen and (max-width: 767.98px) {
  .footer-logo {
    display: flex;
  justify-content: center;
  }
}
@media only screen and (min-width: 768px) {
  .footer-logo {
    display: inline-block;
  
  }
}

.light-style {
    color: var(--primary-white-color);

}
.footer-content {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--primary-white-color);
max-width: 264px;
min-height: 72px;
}
.div-footer-icon {
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;
    
}
@media only screen and (min-width: 1158px) {
  .div-footer-icon {
    width: 208px;
    margin-right: 80px;
  }
}
.footer-icon-content {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--primary-whitef-color);
    
}
@media only screen and (max-width: 767.98px) {
  .footer-icon-content {
    margin-bottom: 16px;
  }
}
@media only screen and (min-width: 768px) and (max-width:1157.98px) {
  .footer-icon-content {
    margin: 0;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-icon-content {
    margin: 0 0 16px 0;
  }
}
.footer-list-icon {
  display: flex;
  justify-content: center;
  gap: 16px;

}
@media only screen and (min-width: 1158px) {
  .footer-list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}
.footer-item-icon {

}
.footer-link-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    background-color: var(--primary-blue-color);
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.footer-link-icon:hover,
.footer-link-icon:focus {
    background-color: var(--primary-green-color);
}
.footer-icon {
    fill: var(--primary-white-color);
}
.footer-subscribe {
    font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.32px;
color: var(--primary-whitef-color);


}
@media only screen and (max-width: 767.98px) {
  .footer-subscribe {
   margin-bottom: 16px; 
  }
}
@media only screen and (min-width: 1158px) {
  .footer-subscribe {
    margin: 0 0 16px 0;
  }
}

.footer-email {
  display: flex;
  flex-direction: column;
}
.footer-form {

}
@media only screen and (min-width: 1158px) {
  .footer-form {
    display: flex;
    
  }
}

@media only screen and (max-width: 767px) {
  .footer-form {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) and (max-width:1157.98px) {
  .footer-form {
    display: flex;
  }
}
.footer-label {
 margin-right: 24px;
}
@media only screen and (min-width: 768px) and (max-width:1157.98px) {
  .footer-label {
    margin-right: 24px;
  }
}
.footer-input {
    padding: 8px 16px;
    background-color: transparent;
    color: var(--primary-whitef-color);

    width: 264px;
    height: 40px;
    
    font-size: 12px; 
    line-height: 1.5;
    letter-spacing: 0.04em;

    border-radius: 4px;
border: 1px solid var(--primary-whitef-color);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-color: var(--primary-whitef-color);
}
@media only screen and (max-width: 767.98px) {
  .footer-input {
    margin-bottom: 16px;
  }
}
.footer-input::placeholder {
    color: var(--primary-whitef-color);
    font-size: 12px;
line-height: 24px;
letter-spacing: 0.48px;
}
.footer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;

    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;

    min-width: 165px;
    height: 40px;
    border: none;
    cursor: pointer;

    border-radius: 4px;
    background-color: var(--primary-blue-color);
    color: var(--primary-whitef-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
@media only screen and (max-width: 767.98px) {
  .footer-button {
    margin: 0 auto;
  }
}
.footer-button:hover,
.footer-button:focus {
    background: var(--primary-ocean-color);
}
.footer-email-icon {

    /* margin-left: 16px; */
}

/* Button section */
.portfolio-section {
    padding-top: 96px; 
    padding-bottom: 120px;
}

.button-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;

}
.button-item {
}
.button-item :hover {
    background-color: var(--primary-ocean-color);
    color:var(--primary-whitef-color);
    border: 1px solid transparent;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-item :focus {
    background-color: var(--primary-ocean-color);
    color:var(--primary-whitef-color);
    border: 1px solid transparent;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-item-style {
    padding: 12px 24px;
    border: 1px solid var(--primary-whiteborder-color);
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-blue-color);
    background-color: var(--primary-white-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Portfolio styles */
.div-images {
}
.images-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 24px;
    row-gap: 48px;
}
.images-link {
    display: block;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.images-link:hover .overlay,
.images-link:focus .overlay {
    transform: translateY(0);
}

.images-link:hover,
.images-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}
.portfolio-item {
    width: calc((100% - 48px) / 3);

}
.div-overflow {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top:0;
    width:100%;
    height:100%;
  padding: 40px 32px;
  background-color: var(--primary-blue-color);
  color: var(--primary-white-color);
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-images {
}
.portfolio-container {
    padding: 32px 16px;
    border: 1px solid var(--primary-whiteborder-color);
    border-top: none;
}
.portfolio-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--primary-navyblue-color);
    margin-bottom: 8px;
}
.portfolio-content {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--brand-color);

}
/* Modal styles */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    
}
.modal {
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    width: 408px;
    min-height: 584px;
    background-color: var(--primary-modal-window-color);

    padding: 72px 24px 24px 24px;

    border-radius: 4px;

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button {
    position: absolute;
    top:24px;
    right: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;

    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    background: var(--primary-whiteborder-color);
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
    background-color: var(--primary-ocean-color);
    border: none;
    fill: var(--primary-whitef-color);
}
.modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

/* Modal form */
.modal-caption {
    display: block;
    width: 360px;
    margin-bottom: 16px;
    text-align: center;

font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--primary-navyblue-color);
}
.modal-form {
    max-width: 360px;
}
.div-input {
    margin-bottom: 8px;
}

.modal-label {
    display: block;
    
    
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: var(--primary-light-slate-color);

    margin-bottom: 4px;
    


}
.label-title-style {
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0.48px;
color: var(--primary-light-slate-color);

}
.div-input-icon {
    position: relative;
}
.modal-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;

    font-size: 18px;

    outline: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-input:focus {
    
    border-color:var(--primary-blue-color);

}
.modal-input-icon {
    position: absolute;
    left: 16px;
    top:50%;
    transform: translateY(-50%);
    fill: var(--primary-navyblue-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-input-icon {
    fill: var(--primary-blue-color);

}
.div-comment {
    margin-bottom: 16px;
}
.modal-input-comment {
    display: block;
    width: 100%;
    height: 120px;
    padding: 8px 16px;

    resize: none;
    outline: transparent;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);

    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-input-comment:focus {
    border-color:var(--primary-blue-color);
}
.modal-input-comment::placeholder {
    
font-size: 12px;
letter-spacing: 0.48px;
color: rgba(46, 47, 66, 0.4);

}
/* Agreement block */
.div-input-privacy{
    margin-bottom: 24px;
}

.modal-label-agreament {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--primary-light-slate-color);
    user-select: none;
}
.modal-agreament-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;

    width: 16px;
    height: 16px;
    margin-right: 8px;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-agreament-icon-style {
    opacity: 0;

}
.modal-agreament:checked + .modal-label-agreament > .modal-agreament-icon{
    background-color: var(--primary-ocean-color);
    border: none;
    fill: var(--primary-white-color);
    
}
.modal-agreament:checked + .modal-label-agreament > .modal-agreament-icon > .modal-agreament-icon-style {
    opacity: 1;
}
.modal-form-link {
    color: var(--primary-blue-color);
    text-decoration: underline;
}
.modal-submit-button {
    display: block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.64px;
color: var(--primary-whitef-color);
border: none;
cursor: pointer;

border-radius: 4px;
background: var(--primary-blue-color);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
margin: 0 auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-submit-button:hover,
.modal-submit-button:focus {
    background: var(--primary-ocean-color);
}
/* Mobile menu */
.menu-toggle-header {
    min-height: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    
}
.menu-toggle {
    min-height: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 1px solid rgba(231, 233, 252, 1);
    border-radius: 50%;
    outline: none;
  }
  
  @media (min-width: 768px) {
    .menu-toggle-header {
      display: none;
    }
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .menu-toggle-icon {
    stroke: var(--primary-navyblue-color);
    border: none;
}
  
  .menu-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-whitef-color);
    z-index: 999;
  
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    padding: 80px 35px 40px 35px;
  }
  
  .menu-container.is-open {
    transform: translateX(0);
  }
  
  .menu-container .menu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
    color: var(--primary-navyblue-color);
  }
  
  .mobile-menu {
    width: fit-content;
    margin-bottom: auto;
  }
  
  .mobile-menu .mobile-first-link {
    display: block;

    font-size: 36px;
font-weight: 700;
line-height: 1.1; 
letter-spacing: 0.72px;

color: var(--primary-navyblue-color);
  }
  .mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .mobile-menu .mobile-first-link:active {
    color: var(--primary-ocean-color);
  }
 

.mobile-link {
    margin-bottom: 48px;
}

.mobile-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-mail-tel {
    color: var(--primary-blue-color);

font-size: 36px;
font-weight: 700;
line-height: 1.1;
letter-spacing: 0.72px;
}
.mobile-mail-email {
    color: var(--brand-color);

font-size: 20px;

font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;

}
.mobile-icon-list {
    display: flex;
    align-items: center;
    gap: 56px;
}
.mobile-icon-list-icon {
}
.mobile-link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 40px;
    height: 40px;
    background-color: var(--primary-blue-color);
    border-radius: 50%;
}
.mobile-icon {
    fill: var(--primary-whitef-color);
}
